:root {
    --rosa: #ea787e;
    --gris-oxford: #3a3a3a;
    --azul-: #504F61;
    --fondo-rosado-suave: #ffd3d3;
    --blanco: #e6e7e8;
    --fucsia: #7e0642;
    --rojo: rgb(179, 43, 43);


     
}
body{
    font-family: 'Georgia', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333333;
}

.tabla-codigo {
    width: 100%; /* Tamaño para la tabla */
    margin-left: 0; /* Alinea la tabla a la izquierda */
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: var(--fondo-rosado-suave);

}

table {
    width: 40%; /* Para que la tabla ocupe todo el ancho del div */
    border-collapse: collapse; /* Quita los espacios entre bordes */
   
}

td {
    border: 1px solid var(--gris-oxford); /* Color del borde */
    padding: 0px; /* Espaciado interno */
    font-size: 11px; /* Texto de tamaño pequeño */
    text-align: left; /* Alineación a la izquierda */
    background-color: var(--fondo-rosado-suave); /* Fondo blanco para las celdas */
}

tr:nth-child(even) {
    background-color: var(--fondo-rosado-suave); /* Color de fondo para filas pares */
}

header {
    display: flex;
    align-items: center;
    background-color:var(--rosa);
    padding: 20px;
    color: var(--gris-oxford);

}

.logo{
    flex: 0 0 auto; /* Mantiene el logo en su tamaño original */
    
}

.logo img{
    width: 130px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;  
}

header.Titulo{
    flex: 1; /* Toma el espacio restante */
    text-align: center; /* Centra el texto dentro del contenedor */
    min-width: 200px; /* Asegura que el título tenga un ancho mínimo */
}

.Contacto{
    background-color: #333333;
    display: flex;
    color: #e6e7e8;
    padding: 2px;
    
}
.Contacto p{
    padding: 0px;
    margin: 0px;  

}

section {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: var(--gris-oxford);
   
}
/* Imágenes responsivas */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.Descripcion {
    background-color: var(--azul-);
    color: var(--blanco);
    text-align: justify;


}

.Seccion1{
    background-color: var(--fondo-rosado-suave);
    text-align: justify;
}

/*Tabla nx2*/

.Seccion1 .tabla-nx2 {
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    border-collapse: collapse; /* Combina los bordes de las celdas */
    background-color: beige;
    text-align: justify;
}
.tabla-nx2 th, .tabla-nx2 td {
    border: 1px solid black; /* Bordes para las celdas */
    text-align: left; /* Alineación del texto en las celdas */
    padding: 8px; /* Espaciado interno de las celdas */
    background-color: beige;
}


 .Cuadro-texto1{
    border: 2px double var(--gris-oxford); /* Borde simple */
    padding: 15px;
    border-radius: 30px;
    background-color: var(--azul-);
    color: var(--blanco);
    text-align: justify;
 }

 .Seccion2{
    background-color: var(--gris-oxford);
    color: var(--blanco);
    border: 7px double beige; 
    text-align: justify;
 }

 .imagen-mediana{
    max-width: 75%;
    height: auto;
    border-radius: 7px;
 }

 .cuadro-beige{
    border: 2px double var(--gris-oxford); 
    padding: 15px;
    border-radius: 30px;
    background-color: beige;
    color: var(--gris-oxford);
    text-align: justify;
 }

 .Notas{
    margin: 20px;
    border: 2px double var(--gris-oxford); /* Borde simple */
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(245, 245, 89);
    color: var(--gris-oxford);
 }
 .Notas h3{
    text-align: center;
    color: black;
 }
.Advertencia{
    margin: 20px;
    border: 2px double var(--gris-oxford); /* Borde simple */
    padding: 15px;
    border-radius: 30px;
    background-color:var(--rojo);
    color: var(--blanco);
    

}
.Advertencia h3{
    text-align: center;
    color: yellow;
 }
 .Seccion3{
    background-color: var(--fucsia);
    border: 7px double rgba(255, 243, 228, 0.959); /* Borde doble para destacar */
    color: beige
 }

 .Seccion4{
    background-color: var(--gris-oxford);
    border: 7px double rgba(255, 243, 228, 0.959); /* Borde doble para destacar */
    color: beige
 }

 .Cuadro-Rosado
 {
    border: 2px double var(--gris-oxford); 
    padding: 15px;
    border-radius: 30px;
    background-color: var(--fondo-rosado-suave);
    color: var(--gris-oxford);
 }

 .Cuadro-azul{
    border: 2px double var(--azul-); 
    padding: 15px;
    border-radius: 30px;
    background-color: var(--azul-);
    color: beige;
    margin: 10px;
 }
 .Cuadro-Gris
 {
    border: 2px double var(--azul-); 
    padding: 15px;
    border-radius: 30px;
    background-color: var(--gris-oxford);
    color: beige;
    margin: 10px;
 }

 footer {
    text-align: center;
    background-color: var(--gris-oxford);
    color: var(--blanco);
    padding: 10px;
}

/* Adaptación a la pantalla */
@media (max-width: 768px) {
    header {
        flex-direction: row; /* Mantiene la dirección en fila */
        padding: 15px;
    }

    header title {
        margin: 0 auto; /* Centra el título cuando la pantalla es pequeña */
    }

    section {
        padding: 15px;
    }

    footer {
        padding: 20px;
        font-size: 14px;
    }
    .Contacto{
        
        color: var(--blanco);
        background-color: #3a3a3a;
        padding: 10px;
        
    }
}
